<nav>
  <h1>Navigation</h1>
  <ul>
    <li>Sådan bor vi
      <ul>
        <li><a href="/saadan-bor-vi/husene">Husene</a></li>
        <li><a href="/saadan-bor-vi/faelleshuset">Fælleshuset</a></li>
        <li><a href="/saadan-bor-vi/udendoers">Udendørs</a></li>
        <li><a href="/saadan-bor-vi/skoedstrup">Skødstrup</a></li>
      </ul>
    </li>
    <li>Fællesskabet
      <ul>
        <li><a href="/faellesskabet/faellesspisning">Fællesspisning</a></li>
        <li><a href="/faellesskabet/opgaver">Opgaver</a></li>
        <li><a href="/faellesskabet/traditioner">Traditioner</a></li>
      </ul>
    </li>
    <li><a href="/beboere">Beboere</a></li>
    <li><a href="/historie">Historie</a></li>
    <li><a href="/interesseliste">Interesseliste</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
</nav>