<nav>
  <h1>included navigation</h1>
  <ul>
    <li>
      <a href="/saadan-bor-vi">Sådan bor vi</a>
      <ul>
        <li>
          <a href="/saadan-bor-vi/husene">Husene</a>
        </li>
        <li>
          <a href="/saadan-bor-vi/faelleshuset">Fælleshuset</a>
        </li>
        <li>
          <a href="/saadan-bor-vi/udendoers">Udendørs</a>
        </li>
        <li>
          <a href="/saadan-bor-vi/skoedstrup">Skødstrup</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/historie">Bofællesskabets historie</a>
    </li>
  </ul>
</nav>